<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INFO HOW TO</title>
</head>
<body>
How to use my code:
<ul>
    <li>Create music via form. I have ensuded that the form is working. <a href="http://localhost:3400/new">Endpoint</a></li>
    <li>View music list. I have ensured that music is displayed. <a href="http://localhost:3400">Endpoint</a></li>
    <li>View music details. I have ensured that music details are displayed. <a href="http://localhost:3400/65babb32573acb5937fc176c">Endpoint to choose</a></li>
    <li>Patch, put and delete are working now via Postman. I don't have enough skills to implement it properly. <a href="http://localhost:3400">Endpoint</a></li>
    <li>Cookies are working. I have ensured that cookies are working. <a href="http://localhost:3400">Endpoint</a></li>
</ul>
</body>
</html>